.top-logo {
    display: flex;
    width: 10%;
    height: 10%;
}

  .block.topmenu .main-menu, .block.topmenu .sub-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  menu, ol, ul {
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin-left: 0;
    padding: 10px;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  * {
    -webkit-tap-highlight-color: transparent;
  }

  *, ::after, ::before {
    box-sizing: inherit;
  }

  .block.topmenu {
    pointer-events: auto;
  }

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: 14.5px;
    line-height: 1.4;
    color: #1f2544;
    font-size: 14.5px;
    line-height: 1.4;
  }

  :root {
    --screen-m: 600px;
    --screen-ml: 768px;
    --screen-l: 992px;
    --color-text-color: #000;
    --color-black-one: #000;
    --color-grey: #666;
    --color-grey-light: #ddd;
    --color-grey-lightest: #eee;
    --color-grey-white: #f6f6f6;
    --color-grey-mediumlight: #979797;
    --color-grey-medium: #878787;
    --color-grey-medium-transparent: hsla(0,0%,52.9%,0.8);
    --color-grey-dark: #333;
    --color-dark-black: #151515;
    --color-white-one: #fff;
    --color-blue: #4276d1;
    --color-blue-dark: #1f2544;
    --color-blue-dark-o: rgba(31,37,68,0.8);
    --color-blue-medium: #74a1cd;
    --color-blue-light: #a8c7e0;
    --color-blue-lightest: #eaf0fa;
    --color-soft-green: #31b231;
    --color-confirmation-green: #7daa40;
    --color-confirmation-green-transparent: rgba(125,170,64,0.1);
    --color-popup-arch-blue: #2e3c83;
    --color-overlay-grey: #151515;
    --color-blue-white: #fbfcfe;
    --button-border-color: #333;
    --font-size-normal: 1em;
    --weather-card-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
    --light-document-bg-color: var(--color-white-one);
    --dark-document-bg-color: var(--color-dark-black);
    --color-bg-z0: var(--color-white-one);
    --color-bg-z1: var(--color-blue-lightest);
  }
  :root, [data-theme="light"] {
    --color-border-one: var(--color-grey-two);
    --color-caption-one: var(--color-grey-six);
    --color-label-one: var(--color-red-one);
    --color-link-one: var(--color-dark-blue-one);
    --color-button-one: var(--color-white-one);
    --color-button-bg-one: var(--color-dark-blue-one);
  }

  html {
    -webkit-text-size-adjust: none;
    font-size: 62.5%;
  }