a {
    display: flex;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    border: none;
    width: 9.5%;
    text-decoration: none;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

a:hover {
    opacity: .7;
}

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}