body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}


a:hover {
    opacity: .7;
}

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}